--extra-index-url https://nexus.secure.amsterdam.nl/repository/pypi-hosted/simple
requests
lxml
python-dateutil

# flask and plugins
flask
flask_cors
flask_limiter
flask_testing

# TMA token verification tools
tma-saml>=0.2

# swagger
connexion

# soap api
zeep>=3.4
# to convert the soap xml to a dict
xmltodict
beautifulsoup4

# testing tools
hiro
mock
flake8
coverage

# error reporting
sentry-sdk[flask]
